pytest
pytest-cov
pytest-xdist # allows the use of multiple cores for testing
mkdocs>=1.5.0
mkdocs-shadcn@git+https://github.com/asiffer/mkdocs-shadcn@30-search-indexing-broken
mkdocstrings[python]>=0.24.0
-e .